fastapi
uvicorn[standard]
sqlalchemy[asyncio]
psycopg[binary,pool]
greenlet
pydantic-settings
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
email-validator
langgraph
langchain-openai
langchain-core
langgraph-checkpoint-postgres
ddgs
pypdf
langchain-text-splitters
langchain-google-genai
pgvector
python-multipart